<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
	<title>task11:移动端布局</title>
	<link rel="stylesheet" type="text/css" href="../src/scss/index.css?rev=@@hash">
	<script src="../src/js/flexible.js?rev=@@hash"></script>
</head>
<body>
	<header>
		<h1>
			<a href="javascript:;"><返回</a>
			这是标题
		</h1>
		<nav>
			<a href="javascript:;">导航</a>
			<a class="active" href="javascript:;">导航</a>
			<a href="javascript:;">导航</a>
			<a href="javascript:;">导航</a>
			<a href="javascript:;">导航</a>
		</nav>
	</header>
	<section class="container">
		<div class="banner">
			<ul>
				<li><img src="../src/img/banner.png?rev=@@hash"></li>
			</ul>
		</div>
		<div class="tit">
			<div class="tit_cont">
				<a href="javascript:;">
					<dl>
						<dt><img src="../src/img/pic_six.png?rev=@@hash"></dt>
						<dd>标签</dd>
					</dl>
				</a>
				<a href="javascript:;">
					<dl>
						<dt><img src="../src/img/pic_six.png?rev=@@hash"></dt>
						<dd>标签</dd>
					</dl>
				</a>
				<a href="javascript:;">
					<dl>
						<dt><img src="../src/img/pic_six.png?rev=@@hash"></dt>
						<dd>标签</dd>
					</dl>
				</a>
				<a href="javascript:;">
					<dl>
						<dt><img src="../src/img/pic_six.png?rev=@@hash"></dt>
						<dd>标签</dd>
					</dl>
				</a>
				<a href="javascript:;">
					<dl>
						<dt><img src="../src/img/pic_six.png?rev=@@hash"></dt>
						<dd>标签</dd>
					</dl>
				</a>
			</div>
		</div>
		<div class="tit_banner">
			<a class="ban_pic" href="javascript:;" title="">
				<img src="../src/img/pic_one.png?rev=@@hash" alt="">
				<h2>分栏一</h2>
				<h3>分栏小标题</h3>
			</a>
			<a class="ban_pic" href="javascript:;" title="">
				<img src="../src/img/pic_one.png?rev=@@hash" alt="">
				<h2>分栏二</h2>
				<h3>分栏小标题</h3>
			</a>
			<a class="ban_pic" href="javascript:;" title="">
				<img src="../src/img/pic_three.png?rev=@@hash" alt="">
				<h2>分栏三</h2>
				<h3>分栏小标题</h3>
			</a>
		</div>
		<div class="mod1">
			<h3>模块一</h3>
			<div class="mod1_cont">
				<div>
					<a href="javascript:;" title="">
						<img src="../src/img/pic_four.png?rev=@@hash" alt="">
					</a>
					<p class="cont_txt">
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
					</p>
				</div>	
				<div>
					<a href="javascript:;" title="">
						<img src="../src/img/pic_four.png?rev=@@hash" alt="">
					</a>
					<p class="cont_txt">
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
					</p>
				</div>	
			</div>
		</div>
		<div class="mod2">
			<h3>模块二</h3>
			<div class="mod1_cont">
				<div>
					<a href="javascript:;" title="">
						<img src="../src/img/pic_four.png?rev=@@hash" alt="">
					</a>
					<p class="cont_txt">
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
					</p>
				</div>	
				<div>
					<a href="javascript:;" title="">
						<img src="../src/img/pic_four.png?rev=@@hash" alt="">
					</a>
					<p class="cont_txt">
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
						<a href="javascript:;" title="">
							<span>这是文案</span>
						</a>
					</p>
				</div>	
			</div>
		</div>
		<article class="art1">
			<a class="art_left" href="javascript:;">
				<img src="../src/img/pic_five.png?rev=@@hash" alt="">
			</a>
			<a class="art_rig" href="javascript:;">
				<h3>这是文章标题字号是22的文章标题</h3>
				<span>文章来源 7分钟前</span>
			</a>
		</article>
		<article class="art2">
			<a class="art_left" href="javascript:;">
				<img src="../src/img/pic_five.png?rev=@@hash" alt="">
			</a>
			<a class="art_rig" href="javascript:;">
				<h3>这是文章标题字号是22的文章标题</h3>
				<span>文章来源 7分钟前</span>
			</a>
		</article>
		<article class="art3">
			<a class="art3_tit" href="javascript:;">
				<h3>这个也是文章标题字是22的文章标题</h3>
			</a>
			<p class="art3_pic">
				<a href="javascript:;" title="">
					<img src="../src/img/pic_end.png?rev=@@hash" alt="">
				</a>
				<a href="javascript:;" title="">
					<img src="../src/img/pic_end.png?rev=@@hash" alt="">
				</a>
				<a href="javascript:;" title="">
					<img src="../src/img/pic_end.png?rev=@@hash" alt="">
				</a>
			</p>
			<span class="art3_time">文章来源 7分钟前</span>
		</article>
	</section>
</body>
</html>